form.signup,
form.login {
  margin-top: 50px;
}

html {
  /* To make use of full height of page*/
  min-height: 100vh;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url("../img/hex-dark.png");
}


.uk-animation-reverse {
  background-image: url("../img/daniel-thurler-YRGsG4oiNIg-unsplash-photoshopped.jpg");
  background-size: cover;
  background-position: center;
}

.uk-animation-reverse.active{
  background-image: url("../img/pexels-mike-120049.jpg");
  background-size: cover;
  background-position: center;
}

.uk-card-primary.uk-card-body .uk-marker, .uk-card-primary>:not([class*=uk-card-media]) 
.uk-marker, .uk-card-secondary.uk-card-body .uk-marker, .uk-card-secondary>:not([class*=uk-card-media]) 
.uk-marker, .uk-light .uk-marker, .uk-offcanvas-bar .uk-marker, .uk-overlay-primary .uk-marker, 
.uk-section-primary:not(.uk-preserve-color) .uk-marker, .uk-section-secondary:not(.uk-preserve-color) 
.uk-marker, .uk-tile-primary:not(.uk-preserve-color) .uk-marker, .uk-tile-secondary:not(.uk-preserve-color) 
.uk-marker{
  background-color: red;
  color: white;
}

img {
  max-width: 120%;
  height: auto;
  justify-content: center;
}

.uk-text-center {
  max-width: 120%;
  height: auto;
  justify-content: center;
  display: flex;
}

.custom {
  width: 280px;
  max-width: 120%;
  max-height: auto;
  justify-content: center;
  vertical-align: middle;
}

.custom-input  {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  display: inline-box;
  padding: 0 30px;
  /*background-color: rgb(34,34,34, 0.7);*/
  vertical-align: middle;
  font-size: .875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color, border-color;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}


/* ========================================== Toggle CSS ======================================================== */
/* The switch - the box around the slider */
.switch {
  position: relative;
  
  
  float: right;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(133, 43, 55);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(34, 78, 107);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ==================================================================================================================== */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}